<div class="articles">
    <h1 class="article-overview-category">
        Najnowsze artykuly z kategorii: {{ category.name }}
    </h1>

    <div class="articles-content">
        {% for article in articles %}
            <div hx-get="{% url 'article-detail' article.id %}" hx-target="#main-area" hx-push-url="/article-detail/{{ article.id }}/" class="article-overview">
                <h2 class="article-overview-title">{{ article.title }}</h2>
                <span class="article-overview-write">
                    {{ article.content|slice:"250" }}...
                </span>
                <span class="article-date-overview">
                    Data publikacji: {{ article.created_at }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
