<div class="articles">
    <h1 class="article-overview-category">
        Latest Articles
    </h1>

    <div class="articles-content">
        {% for article in articles %}
            <div
                hx-get="{% url 'article-detail' article.id %}"
                hx-target="#main-area"
                hx-push-url="/article-detail/{{ article.id }}/"
                class="article-overview"
            >
                <h2 class="article-overview-title">{{ article.title }}</h2>
                <span class="article-overview-write">
                    {{ article.description }}...
                </span>
                <span class="article-date-overview">
                    Publication Date: {{ article.created_at }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
