{% load django_htmx static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoj blog</title>

    <!-- Fonts and Styles -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <!-- Scripts -->
    {% django_htmx_script %}
    <script src="{% static '/js/script.js' %}" defer></script>
</head>
<body>
    <!-- Mobile Navbar -->
    {% include "mobile_navbar.html" %}

    <!-- Page Layout -->
    <div class="page-layout">
        {% include "navbar.html" %}

        <div class="main-ar">
            <div id="main-area">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Footer -->
            <div>
                {% include "footer.html" %}
            </div>
        </div>
    </div>

    <!-- Django HTMX Support -->
    {% django_htmx_script %}
</body>
</html>
