{% load static %}

<li
    hx-get="{% url 'home' %}"
    hx-target="#main-area"
    hx-push-url="/"
    class="mobile-nav-home"
>
    <strong>Home</strong>
</li>
<hr>

<li
    hx-get="{% url 'search' %}"
    hx-target="#main-area"
    hx-push-url="/search/"
    class="mobile-nav-home"
>
    <strong>Search</strong>
</li>
<hr>

{% for category in categories %}
    <li
        hx-get="{% url 'articles' category.slug %}"
        hx-target="#main-area"
        hx-push-url="/articles/{{ category.slug }}/"
        class="menu-mobile-nav"
    >
        {{ category.name }}
    </li>
    <hr>
{% endfor %}
